// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@tailwind base;
@tailwind components;
@tailwind utilities;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

$taglensr-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));


/* You can add global styles to this file, and also import other style files */

html, body, mat-sidenav-container { 
  @include mat.all-component-themes($taglensr-theme);
  & {
    height: 100%; 
  }
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-card, .info {
  background-color: mat.get-theme-color($taglensr-theme, surface-container-highest) !important
}

header {
  background-color: mat.get-theme-color($taglensr-theme, secondary-container) !important
}

a {
  all: revert
}