<mat-sidenav-container>
    <section class="columns-xs px-16">
        @for (post of posts; track $index) {
           <mat-card (click)="this.openPost(post.link)" role="button">
                <img mat-card-image [src]="post.photo" />
                @if (post.summary.length !== 0) {
                    <mat-card-content>
                        <p>{{post.summary}}</p>
                    </mat-card-content>
                }
            </mat-card> 
        }
        
    </section>
    
</mat-sidenav-container>