<mat-sidenav-container>
    <header class="w-full flex justify-center items-center gap-4">
        <p>🔍⏳😕</p>
        <p>Tumblr has a known bug in their API that prevents some posts from being shown</p>
        <a href="https://github.com/tumblr/docs/issues/136" target="_blank">GitHub issue</a>
    </header>
    <section class="flex flex-col flex-wrap justify-center items-center gap-4 mb-12">
        <pre>
<code aria-hidden="true" >
     ______            __                        
    /_  __/___ _____ _/ /   ___  ____  __________
     / / / __ `/ __ `/ /   / _ \/ __ \/ ___/ ___/
    / / / /_/ / /_/ / /___/  __/ / / (__  ) /    
   /_/  \__,_/\__, /_____/\___/_/ /_/____/_/     
             /____/</code>
            </pre>
        <h1 class="text-xl">A small, advanced search page for Tumblr tags and blogs -- Peer into history!</h1>
        <section class="flex flex-col flex-wrap justify-center items-center gap-5">
            <section class="flex flex-wrap justify-center items-center gap-4">
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Search tag or blog</mat-label>
                    <mat-icon matIconPrefix aria-hidden="true" fontIcon="search" />
                    <input matInput required="true" type="text" placeholder="#cats/@tumblr" [(ngModel)]="target"
                        [value]="target" (input)="resetNav()">
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Search before</mat-label>
                    <input matInput type="date" [(ngModel)]="selectedDate" [value]="selectedDate" (input)="resetNav()">
                </mat-form-field>
            </section>
            <mat-button-toggle-group [(ngModel)]="filterType" aria-label="Font Style" [value]="filterType"
                (input)="resetNav()">
                <mat-button-toggle [value]="PostType.all" aria-label="Get all posts">
                    @if (filterType !== PostType.all) {
                    <mat-icon aria-hidden="true" fontIcon="all_inclusive" />
                    }
                    All
                </mat-button-toggle>
                <mat-button-toggle [value]="PostType.photo" aria-label="Get images">
                    @if (filterType !== PostType.photo) {
                    <mat-icon aria-hidden="true" fontIcon="image" />
                    }
                    Images
                </mat-button-toggle>
                <mat-button-toggle [value]="PostType.video" aria-label="Get videos">
                    @if (filterType !== PostType.video) {
                    <mat-icon aria-hidden="true" fontIcon="movie" />
                    }
                    Videos
                </mat-button-toggle>
                <mat-button-toggle [value]="PostType.answer" aria-label="Get asks">
                    @if (filterType !== PostType.answer) {
                    <mat-icon aria-hidden="true" fontIcon="help" />
                    }
                    Asks
                </mat-button-toggle>
                <mat-button-toggle [value]="PostType.quote" aria-label="Get quote posts">
                    @if (filterType !== PostType.quote) {
                    <mat-icon aria-hidden="true" fontIcon="format_quote" />
                    }
                    Quote
                </mat-button-toggle>
                <mat-button-toggle [value]="PostType.link" aria-label="Get link posts">
                    @if (filterType !== PostType.link) {
                    <mat-icon aria-hidden="true" fontIcon="link" />
                    }
                    Link
                </mat-button-toggle>
                <mat-button-toggle [value]="PostType.text" aria-label="Get text posts">
                    @if (filterType !== PostType.text) {
                    <mat-icon aria-hidden="true" fontIcon="text_fields" />
                    }
                    Text
                </mat-button-toggle>
                <mat-button-toggle [value]="PostType.audio" aria-label="Get audios">
                    @if (filterType !== PostType.audio) {
                    <mat-icon aria-hidden="true" fontIcon="music_note" />
                    }
                    Audio
                </mat-button-toggle>
            </mat-button-toggle-group>
            <section class="flex flex-col flex-wrap justify-center items-center gap-4">
                <p>Number of posts</p>
                <mat-slider class="w-96" min="1" max="20" step="1" showTickMarks discrete>
                    <input matSliderThumb aria-label="Number of posts" [(ngModel)]="requestedPostCount"
                        [value]="requestedPostCount" (input)="resetNav()">
                </mat-slider>
                <button mat-flat-button color="primary" (click)="search()">
                    <mat-icon aria-hidden="true" fontIcon="search" />
                    Search
                </button>
            </section>
        </section>

        <section class="columns-xs px-16 w-full">
            @for (post of posts; track $index) {
            <mat-card (click)="this.openPost(post.link)" role="button" class="my-4 break-inside-avoid-column">
                <img mat-card-image [src]="post.photo" />
                @if (post.summary.length !== 0) {
                <mat-card-content>
                    <p>{{post.summary}}</p>
                </mat-card-content>
                }
            </mat-card>
            }
        </section>
        @if (this.loading) {
        <mat-spinner />
        <p>Going back to {{this.internalDate}} for your posts...</p>
        @if (this.requestsMade > ((this.REQUEST_LIMIT * this.requestedPostCount) / 2)) {
        <p>We're going back further than expected</p>
        }
        }
        @if (!this.loading && !this.pendingSearch) {
        <button mat-flat-button color="primary" (click)="backInTime()">
            <mat-icon aria-hidden="true" fontIcon="arrow_forward" />
            Next
        </button>
        }
    </section>
    <footer class="fixed w-full bottom-0 flex justify-center items-center gap-4">
        <p>Made with</p>
        <img matTooltip="Angular" src="assets/icon_angular.png" class="h-9 w-9" alt="Angular framework logo" />
        <p>and</p>
        <img matTooltip="Angular Material"
            src="https://angular.io/generated/images/marketing/concept-icons/material.svg" class="h-7 w-7"
            alt="Angular Material logo" />
        <p>by</p>
        <img matTooltip="Voidtrack" src="favicon.png" alt="Voidtrack logo" class="h-8 w-8" />
        <p>in 2025</p>
        <p>|</p>
        <p>Hosted on</p>
        <img matTooltip="GitHub" src="assets/github-mark.svg" alt="GitHub logo" class="h-8 w-8" role="button"
            (click)="openPost('https://github.com/Voidtrack/taglensr')" />
    </footer>
</mat-sidenav-container>